/* Pour les écrans >= 480px */
@media only screen and (min-width: 480px) {
    .page-index .realisations li {
        flex-basis: 33%; /* Taille de base pour les éléments du container flex */
        flex-grow: 3;
    }

    .page-infos .profile-photo {
        float: left;
        margin-right: 5%;
        margin-bottom: 20px;
    }

    .page-contact .cols {
        display: flex;
        gap: 10%;
    }

    .page-contact .cols section {
        flex-basis: 50%;
    }
}

/* Pour les écrans >= 660px */
@media only screen and (min-width: 660px) {
    header {
        border-bottom: 5px solid #2ec4b6;
        display: flex;
        gap: 10%;
        padding-bottom: .5rem;
    }

    header .logo {
        flex-basis: 48%;
        text-align: left;
        padding-left: 5%;
    }

    header .logo .nom {
        font-size: 2.5rem;
    }

    header nav {
        flex-basis: 42%;
        text-align: right;
    }
}

/* Pour les écrans >= 910px */
@media only screen and (min-width: 910px) {
    header nav li.accueil {
        display: inline;
    }
}